!!! 5
%html{lang: "en"}
  %head
    - current_page.data.description = reseller.description
    - if reseller.canonical_path
      - current_page.data.canonical_path = reseller.canonical_path
    = partial "includes/layout/head"
  %body
    = partial "includes/google/gtm"
    = partial "includes/layout/header"
    = partial "includes/layout/headline"
    .reseller-header.flex-container.flex-column.justify-center.align-center.full-width
      .reseller-logo-container.flex-container.justify-center.align-center
        = image_tag "/images/icons/gitlab-#{reseller.level}-channel-partner-badge.svg", class: "gitlab-logo", alt: "gitlab logo svg"
        = image_tag "#{reseller.image}", id: "reseller-logo", alt: "#{reseller.name} logo"
      - if reseller.social
        .social-links-container.flex-container.justify-center
          - reseller.social.each do |social|
            - if social.type == 'other' or social.type == 'rss'
              - if social.type == 'rss'
                %a.social-link{href: "#{social.url}", target: "_blank"}
                  %i.fas.fa-rss
              - else
                %a.social-link{href: "#{social.url}", target: "_blank"}
                  %i.fas.fa-globe
            - else
              %a.social-link{href: "#{social.url}", target: "_blank"}
                %i{class: "fab fa-#{social.type}"}
    .reseller-content-container.flex-container.full-width
      .reseller-contact-container.flex-container.flex-column
        - reseller.contact.each do |contact|
          .full-width
            - if contact.address
              %p
                %i.fas.fa-map-marker-alt
                = contact.address
            - if contact.phone
              %p
                %i.fas.fa-phone
                = contact.phone
            - if contact.website
              %p
                %i.fas.fa-globe
                %a{href: "#{contact.website}", target: "_blank"}
                  = contact.website
            - if reseller.email
              %p
                %i.fas.fa-envelope.envelope
                %a{href: "mailto:#{reseller.email}"}
                  = reseller.email
      .reseller-description-container.full-width
        %p
          = reseller.content

    = partial "includes/layout/footer"

    %script{ src: "/javascripts/reseller.js", type: "text/javascript" }
