.experiment-outer-wrapper {
  min-height: 75vh;
}

#experiment6469 .experiment-container {
  text-align: center;
}

#experiment6469 .content {
  font-size: 48px;
  height: 300px;
  line-height: 300px;
  margin: 50px auto;
  text-align: center;
  width: 300px;
}

#experiment6469 .experiment-test .content {
  background: #fa7035;
  color: #ffffff;
}

#experiment6469 .experiment-control .content {
  background: #3f3177;
  color: #ffffff;
}
