- variant = 'control'
%div.experiment-container.experiment-control

  .row.flex-row.plans
    - control_pricing_plans = data.pricing.plans.dup
    -# Must use .dup otherwise you're referencing the same object when copying the variable.
    - control_plans = control_pricing_plans
    - control_plans.each_with_index do |plan_control, index|
      - free = plan_control.id == 'free'
      %div{class: "col-md-3 plan plan-#{plan_control.id}"}
        .image= image_tag "pricing/#{plan_control.id}.svg"
        .content
          .title= plan_control.title
          .description= plan_control.description
          .price $#{plan_control.monthly_price}
          .price-monthly /user/month
          - unless free
            .price-annually (USD, billed annually at $#{plan_control.monthly_price * 12})
          %div{ class: "btn start-#{plan_control.id}", data: { target: "##{plan_control.id}-modal-#{variant}", toggle: 'modal' } }= free ? 'Start now' : 'Buy now'
        .features
          .feature-title= free ? 'Includes' : "All the benefits of #{control_plans[index - 1].title}&nbsp;+"
          %ul
            - plan_control.features.each do |feature|
              %li= feature.title
          .compare{ data: { target: "#compare-features-#{plan_control.id}-modal-#{variant}", toggle: 'modal' } } Compare features


- data.pricing.plans.each do |plan|
  -# generate the "start now / buy now" self-hosted vs saas modal so it can be displayed when clicking a related button
  = partial '/pricing/_modal', locals: plan_modal_options(plan, variant)
  -# generate the feature comparison modal so it can be displayed when clicking a compare button
  -# compare_features_modal_options is generated by pricing_page_helpers.rb
  = partial '/pricing/_modal', locals: compare_features_modal_options(plan, variant)
