<section class="slpEventConnect slp-commit-grid slp-relative slp-mb-64 md:slp-mb-160">
   <div class="slp-col-span-full md:slp-col-span-5">
      <div class="slp-relative">
         <div class="slp-rounded-full slp-max-w-min slp-bg-grayscale-highlight md:slp-absolute md:slp-top-0 md:slp--left-6 md:slp-transform md:slp--translate-x-full md:slp-translate-y-1/4 slp-p-9">
            <svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg">
               <g clip-path="url(#clip0)" fill="#7D2BD9">
                  <path d="M5.245 14.74a.88.88 0 01-.713-.365l-1.32-1.835h-.88A2.328 2.328 0 010 10.212V3.56a2.328 2.328 0 012.328-2.328h8.98A2.328 2.328 0 0113.64 3.56v6.652a2.329 2.329 0 01-2.332 2.328H7.282l-1.32 1.835a.88.88 0 01-.717.365zM2.328 2.992a.568.568 0 00-.568.568v6.652a.568.568 0 00.568.568h1.32a.882.882 0 01.712.365l.88 1.21.88-1.21a.88.88 0 01.713-.365h4.475a.567.567 0 00.572-.568V3.56a.568.568 0 00-.572-.568h-8.98z"></path>
                  <path d="M9.108 7.766h-4.58a.88.88 0 010-1.76h4.58a.88.88 0 110 1.76zM17.472 13.966h-3.185a.88.88 0 110-1.76h3.185a.88.88 0 110 1.76z"></path>
                  <path d="M16.742 20.768a.88.88 0 01-.713-.365l-1.32-1.83h-4.017a2.327 2.327 0 01-2.332-2.328v-2.09a.88.88 0 011.76 0v2.09a.567.567 0 00.568.568h4.479a.88.88 0 01.717.37l.88 1.205.88-1.215a.88.88 0 01.713-.36h1.32a.567.567 0 00.563-.568V9.592a.568.568 0 00-.567-.567H15.44a.88.88 0 110-1.76h4.232A2.328 2.328 0 0122 9.592v6.653a2.328 2.328 0 01-2.328 2.328h-.88l-1.32 1.834a.88.88 0 01-.73.361z"></path>
               </g>
               <defs>
                  <clipPath id="clip0">
                     <path fill="#fff" d="M0 0h22v22H0z"></path>
                  </clipPath>
               </defs>
            </svg>
         </div>
         <h2 class="slp-font-normal slp-text-grayscale-333 slp-text-3xl md:slp-text-4xl slp-leading-tight slp-mb-16 slp-max-w-3xl slp-col-span-full">
            <%= event.connect.heading %>
         </h2>
      </div>
      <p class="slp-font-normal slp-text-grayscale-333 slp-text-lg slp-leading-tight slp-max-w-3xl">
         <%= event.connect.subheading %> 
      </p>
   </div>
   <div class="slp-col-span-full md:slp-col-span-5">
      <p class="slp-font-normal slp-text-grayscale-333 slp-text-md slp-leading-tight slp-max-w-3xl slp-mb-32">
         <%= event.connect.body %>
      </p>
      <div class="slp-flex slp-flex-wrap slp-justify-between slp-items-center">
         <div class="slp-relative slp-min-w-full sm:slp-min-w-min slp-w-3/4">
            <div class="slp-form-field">
               <label for="input" class="slp-text-black slp-text-base">
                 <%= event.connect.inputLabel %>
               </label>
               <input type="email" id="input" name="input" placeholder="Your email" class="slp-w-full slp-border-2 slp-border-solid slp-border-black slp-text-grayscale-gray2 slp-text-xs slp-block slp-rounded-lg slp-mt-4 slp-p-12 slp-outline-none">
            </div>
         </div>
         <a href="<%= event.connect.buttonLink %>" class="slp-min-w-full sm:slp-min-w-min slp-btn slp-btn--secondary">
            <%= event.connect.buttonText %>   
         </a>
      </div>
      <div>
         <div class="slp-checkbox">
            <input type="checkbox" id="checkbox1" name="checkbox" value="checkbox1" class="slp-hidden">
            <label for="checkbox1" class="slp-text-black slp-text-base">
               <%= event.connect.checkboxLabel %>
            </label>
         </div>
      </div>
   </div>
</section>