<section class="slpEventSpeakers slp-commit-grid slp-relative slp-mb-64 md:slp-mb-160">
  <div class="slp-col-span-4 md:slp-col-span-10">
    <div class="slp-relative">
      <div class="slp-rounded-full slp-max-w-min slp-bg-grayscale-highlight md:slp-absolute md:slp-top-0 md:slp--left-6 md:slp-transform md:slp--translate-x-full md:slp-translate-y-1/4 slp-p-9">
        <svg
          width="22"
          height="22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0)" fill="#7D2BD9">
            <path
              d="M11 20.38a38.512 38.512 0 01-6.82-.61.88.88 0 01-.726-.88c0-4.7 3.137-6.658 4.796-7.362a5.117 5.117 0 115.557 0c1.668.69 4.774 2.61 4.774 7.392a.88.88 0 01-.721.88c-2.265.398-4.56.592-6.86.58zm-5.75-2.2c3.823.604 7.717.604 11.54 0a5.72 5.72 0 00-4.158-5.2 1.422 1.422 0 01-1.007-1.368 1.439 1.439 0 01.81-1.32 3.357 3.357 0 10-2.86 0 1.46 1.46 0 01-.146 2.706 5.87 5.87 0 00-4.18 5.17v.013z"
            ></path>
            <path
              d="M19.77 16.632a.882.882 0 01-.115-1.76l.545-.08a4.549 4.549 0 00-3.29-3.96 1.356 1.356 0 01-.19-2.512 2.605 2.605 0 00-.792-4.945.885.885 0 11.198-1.76 4.36 4.36 0 012.112 7.823C19.686 10.12 22 11.77 22 15.541a.879.879 0 01-.726.88c-.44.08-.924.154-1.386.216l-.119-.005zM1.997 16.601h-.123l-1.148-.185a.88.88 0 01-.726-.88c0-3.766 2.314-5.416 3.757-6.085A4.36 4.36 0 015.87 1.628a.886.886 0 01.198 1.76A2.605 2.605 0 005.28 8.32a1.355 1.355 0 01-.185 2.504 4.55 4.55 0 00-3.291 3.96l.321.048a.882.882 0 01-.123 1.76l-.005.01z"
            ></path>
          </g>
          <defs>
            <clipPath id="clip0">
              <path fill="#fff" d="M0 0h22v22H0z"></path>
            </clipPath>
          </defs>
        </svg>
      </div>
      <h2 class="slp-font-normal slp-text-grayscale-333 slp-text-3xl md:slp-text-4xl slp-leading-tight slp-mb-16 slp-max-w-3xl slp-col-span-full">
        <%= heading %>
      </h2>
    </div>
    <div class="md:slp-flex">
      <h3 class="slp-text-grayscale-333 slp-font-normal slp-text-lg slp-leading-tight slp-mb-12 md:slp-mr-64">
        <%= subheading %>
      </h3>
      <p class="slp-text-grayscale-333 slp-font-normal slp-text-base slp-leading-normal slp-mb-32 md:slp-max-w-3xl">
        <%= body %>
      </p>
    </div>
    <h3 class="slp-text-grayscale-333 slp-font-normal slp-text-xl slp-leading-tight slp-mb-8">
      <%= speakers_are_current ? 'Speakers' : 'Past Speakers' %>
    </h3>
  </div>
  <div class="slp-col-span-full md:slp-col-span-10 slp-flex slp-flex-wrap slp-justify-between">
    <% speakers.each_with_index do |speaker, index| %>
      <figure class="slp-w-6/12 md:slp-w-3/10 slp-mb-48" data-speaker-index="<%= index %>" <%= index >= 9 ? 'style="display: none;"' : '' %>>
            <div class="slp-relative slp-w-11/12">
                <img src="<%= speaker.headshot %>" alt="<%= speaker.name %> headshot" class="slp-rounded slp-mb-28 slp-w-full" />
      <div class="slp-rounded slp-absolute slp-w-full slp-h-full slp-bg-ui-secondary-dark slp-opacity-10 slp--right-4 slp--bottom-4 slp--z-1"></div>
    </div>
    <figcaption>
      <div class="slp-text-grayscale-333 slp-font-semibold slp-text-sm md:slp-text-base md:slp-leading-tight slp-mb-12">
        <%= speaker.company %>
      </div>
      <div class="slp-text-grayscale-333 slp-font-normal slp-text-md md:slp-text-lg md:slp-leading-tight slp-mb-12">
        <%= speaker.name %>
      </div>
      <div class="slp-text-grayscale-333 slp-font-normal slp-text-sm md:slp-text-base md:slp-leading-tight">
        <%= speaker.title %>
      </div>
    </figcaption>
  </figure>
<% end %>
</div>
<button class="slpEventSpeakers__button slp-btn slp-btn--secondary slp-col-span-full md:slp-col-start-1 md:slp-w-max">View All Speakers</button>
</section>
