<div class="slp-relative">
  <div
    class="slp-rounded-full slp-max-w-min slp-bg-grayscale-highlight md:slp-absolute md:slp-top-0 md:slp--left-6 md:slp-transform md:slp--translate-x-full md:slp-translate-y-1/4 slp-p-9"
  >
	  <!---- TODO loop through icons here and set has data fields, but just hard coding one for this iteration -->
	  <svg
      width="22"
      height="22"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0)" fill="#7D2BD9">
        <path
          d="M15.787 12.346a.88.88 0 01-.88-.88V9.772H8.721a.88.88 0 01-.88-.88V4.263a.88.88 0 01.88-.88h6.186V1.685a.88.88 0 011.479-.647l5.328 4.889A.88.88 0 0122 6.6a.88.88 0 01-.286.647l-5.328 4.87a.88.88 0 01-.599.23zM9.601 8.012h6.186a.88.88 0 01.88.88v.572L19.8 6.6l-3.133-2.913v.576a.88.88 0 01-.88.88H9.601v2.87zM6.213 21.195a.88.88 0 01-.599-.233L.286 16.073a.88.88 0 010-1.298l5.328-4.893a.88.88 0 01.95-.154.88.88 0 01.529.806v1.694h6.186a.88.88 0 01.88.88v4.628a.88.88 0 01-.88.88H7.093v1.699a.88.88 0 01-.88.88zM2.2 15.422l3.15 2.89v-.576a.88.88 0 01.88-.88h6.17v-2.868H6.212a.88.88 0 01-.88-.88v-.572L2.2 15.422z"
        ></path>
      </g>
      <defs>
        <clipPath id="clip0">
          <path fill="#fff" d="M0 0h22v22H0z"></path>
        </clipPath>
      </defs>
    </svg>
  </div>
  <h2
    class="slp-font-normal slp-text-grayscale-333 slp-text-3xl md:slp-text-4xl slp-leading-tight slp-mb-16 slp-max-w-3xl slp-col-span-full"
  >
    <%= heading %>
  </h2>
</div>

