%div#sticky-banner.top-announcement
  .hero-content
    GitLab enters into OEM Agreement with IBM.
    %a{:href => "/press/releases/2021-01-14-gitlab-IBM-to-support-acceleration-of-devops-automation.html"}  
      %span.learn-more-cta Learn More
  #dismiss-trial
    = partial "/images/icons/x-current-color.svg"

:sass
  #sticky-banner.top-announcement
    background: #0F62FE
    padding: 1rem 5rem 1rem 1.75rem
    position: sticky
    top: 58px
    min-height: 60px
    z-index: 101
    display: flex
    align-items: center
    justify-content: space-evenly
    .hero-content
      margin: 0
      text-align: center
      font-size: 23px
    a
      color: #fff
    .learn-more-cta
      margin-left: .25em
      display: inline-block
      text-decoration: underline

  #dismiss-trial
    width: 32px
    height: 32px
    line-height: 0
    padding: 1rem
    cursor: pointer
    color: #fff
    position: absolute
    right: 12px

  @media all and (max-width: 542px)
    #sticky-banner.top-announcement
      .hero-content
        font-size: 19px
      .learn-more-cta
        margin-left: 0
  
%script{src: "/javascripts/sticky-banner.js", type: "text/javascript"}
